/* fonts.css */
@charset "UTF-8";
@font-face{
    font-family: "ntg";
    src:local(""),url("./noto/noto-sans-kr.eot?#iefix") format('embedded-opentyp'),
    url("./noto/noto-sans-kr.woff2") format('woff2'),
    url("./noto/noto-sans-kr.woff") format('woff'),
    url("./noto/NotoSansKR-.otf") format('opentype'),
    url("./noto/noto-sans-kr.ttf") format('truetype'),
    url("./noto/noto-sans-kr.svg") format('svg');    
}
/*
    Free for personal use : 개인만 무료 활용
    100% Free : 상업용으로도 활용
    Donationware : 기부를 한 후 활용 가능
    Demo : 기능제한 시험용 폰트
    Shareware : 설치한 후 사용해보고 구매하여 상업용으로 사용
    아무것도(등급없음) : 아직 사용등급이 정해져 있지 않았음
    https://googlefonts.github.io/korean/
*/
